# Somat√≥rio da terceira linha do arquivo

In [21]:
import pandas as pd
df = pd.read_csv('dados_atividade_01.csv',index_col=0)

# Os dados originais

In [50]:
df

          0    1  abc    3    4    5    6    7    8    9   10   11
0       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
linha3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
8       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9       1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
10      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
11      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

# Somando com LOC

In [51]:
df.loc['linha3'].sum()

12.0

# Somando com ILOC

In [52]:
df.iloc[2].sum()

12.0

# Somando todos os valores acima da diagonal principal

In [56]:
#df.loc['linha3'] = 1
#df

In [59]:
soma = 0
for i in range(len(df)):
    soma += df.iloc[i,i+1:].sum()

In [60]:
soma

66.0

# Quest√£o extra

- Multiplicar todos os valores da diagonal principal por 10.